   

        {{{body}}}
    


    <!--Boostrap 4-->

     <!--Aqui empieza mi pie de pagina-->

    <section id="footer" class="bg-dark">
        <div class="container">
            <img src="images/logcv2.jpg" class="logo-brand" alt="logo">
            <!---
    <ul class="list-inline">
      <li class="list-inline-item footer-menu"> <a href="#hero">Home</a> </li>
      <li class="list-inline-item footer-menu"> <a href="#aboutme">Aboutme</a> </li>
      <li class="list-inline-item footer-menu"> <a href="#dibujos">Dibujos</a> </li>
      <li class="list-inline-item footer-menu"> <a href="#portafolio">Pricing</a>Trabajos RA</li>
      <li class="list-inline-item footer-menu"> <a href="#footer">Contact</a> </li>
    </ul>
  -->

            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#">
                        <ion-icon name="logo-instagram">
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://github.com/damianSM1997">
                        <ion-icon name="logo-github"></ion-icon>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#">
                        <ion-icon name="logo-facebook">
                    </a>
                </li>

            </ul>

            <ul class="list-group">
                <li class="list-inline-item">
                    <ion-icon name="mail-unread-sharp"> </ion-icon> damiansm97@gmail.com </li>
                <li class="list-inline-item">
                    <ion-icon name="call-sharp"> </ion-icon> 044 55 3130 4624 </li>
            </ul>
            <br>
            <br>
            <small>©2020 All Rights Reserved. Created by Bootstrap. CV DSM</small>
        </div>
    </section>

    
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <script src="/js/scripts.js"></script>


    
    
    <script src="js/app.js"></script>
    
    
    
</body>

</html>

