<section id="aboutme" class="bg-light-grey p-4">
  <hr>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="content-center">
      <h2> About me</h2>
      <p>Soy una persona dedicada en todos los aspectos de mi vida, comprometido con una formación académica excelente</p>
      <p>Actualmente soy un pasante de ingeniería en computación. Desarrollando aplicaciones de forma independiente con RA (Realidad Aumentada) utilizando Vuforia, Unity, programando en C# y modelando en Blender.</p>
    </div>
  </div>
</section>