<section id="dibujos" class="bg-light-grey">
  <hr>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="content-center">
      <h2> Dibujos</h2>
      <p class="text-center">En mi tiempo libre me gusta dibujar, estos son algunos de mis dibujos.</p>

    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="portafolio-container">
          <div class="portafolio-details">
            <a href="#">
              <h2>Hojas de girasol</h2>
            </a>
            <a href="#">
              <p>Dibujo hecho a lapiz</p>
            </a>
          </div>
          <img src="images\dibujo1.jpg" class="img-fluid" alt="dibujo 1">
        </div>
      </div>

      <div class="col-md-4">
        <div class="portafolio-container">
          <div class="portafolio-details">
            <a href="#">
              <h2>Dia de muertos</h2>
            </a>
            <a href="#">
              <p>Dibujo hecho a lapiz</p>
            </a>
          </div>
          <img src="images/dibujo2.jpg" class="img-fluid" alt="dibujo 2">
        </div>
      </div>

      <div class="col-md-4">
        <div class="portafolio-container">
          <div class="portafolio-details">
            <a href="#">
              <h2>Pulpo</h2>
            </a>
            <a href="#">
              <p>Dibujo hecho con estilografo</p>
            </a>
          </div>
          <img src="images/dibujo3.jpg" class="img-fluid" alt="dibujo 3">
        </div>
      </div>
    </div>
  </div>
</section>