<section id="hero">
  <div class="container">
    <div class="content-center topmargin-xs">
      <h1>Bienvenidos a mi curriculum online</h1>
      <!--  <p>Como pueden observar en esta pagina web se muestra mi <b>CV</b> Online </p>-->
      <a href="https://drive.google.com/open?id=1DqLnWJRBVj-kmhbOBS5DAcIJ2k-DlR1I" class="btn btn-light topmargin-lg">CV
        PDF <ion-icon name="document-attach-outline"></ion-icon></a>
    </div>
  </div>
</section>