<!--regresar-->


<section id="hero">
  <div class="container text-dark">
    <div class="content-center topmargin-xs">
      <div class="col-md-4 mx-auto">
  <div class="card text-center">
    <div class="card-header">
      <h3>Nueva nota creada con éxito</h3>
    </div>
    <div class="card-body">
      <form action="" method="POST">
        <div class="form-group">
            <a href="/notes" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"><i class="fa fa-comment fas fa-undo-alt"></i>Regresar</a>
        </div>
      </form>
    </div>
  </div>
</div>
    </div>
  </div>
</section>


